* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* Matrix background */
html {
  background: #000; /* pure black */
  font-family: "Share Tech Mono", monospace; /* Google font */
}

/* Center container */
#main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Matrix text style */
p {
  font-size: 2rem;
  color: #00FF41;              /* Neon green */
  letter-spacing: 2px;
  text-shadow: 0 0 10px #00ff41aa; /* Soft neon glow */
}
