* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  /* Font Sizes */

  --font-size-xs: 0.2rem;
  --font-size-s: 0.4rem;
  --font-size-m: 0.6rem;
  --font-size-l: 0.8rem;
  --font-size-xl: 1rem;
  --font-size-2xl: 1.2rem;
  --font-size-3xl: 1.4rem;
  --font-size-5xl: 1.8rem;

  /* padding */
  --padding-2xs: 0.1rem;
  --padding-xs: 0.2rem;
  --padding-s: 0.4rem;
  --padding-m: 0.6rem;
  --padding-l: 0.8rem;
  --padding-xl: 1rem;
  --padding-2xl: 1.2rem;
  --padding-3xl: 1.4rem;
}

@property --cAnimate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimate {
    from {
        --cAnimate: 0deg;
    }
    to {
        --cAnimate: 360deg;
    }
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}


.card{ 
    height: 400px;
    width: 350px;
    border-radius: var(--font-size-l);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: var(--font-size-l);
    padding: var(--font-size-l);

    background: linear-gradient(black) padding-box, 
        conic-gradient(from var(--cAnimate), rgb(118, 70, 70), rgba(255, 0, 43, 0.549), black) border-box
    ;

    /* box-shadow: 0 0 var(--font-size-5xl) red; */

    border: 5px solid rgba(255, 255, 255, 0);
    animation: borderAnimate 5s linear infinite;
}

img{
    height: 80%;
    width: 80%;
    object-fit: cover;
}

h1{
    font-size: var(--font-size-3xl);
}

p{
    font-size: var(--font-size-xl);
    text-align: center;
}