* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  /* Font Sizes */

  --font-size-xs: 0.2rem;
  --font-size-s: 0.4rem;
  --font-size-m: 0.6rem;
  --font-size-l: 0.8rem;
  --font-size-xl: 1rem;
  --font-size-2xl: 1.2rem;
  --font-size-3xl: 1.4rem;
  --font-size-5xl: 1.8rem;

  /* padding */
  --padding-2xs: 0.1rem;
  --padding-xs: 0.2rem;
  --padding-s: 0.4rem;
  --padding-m: 0.6rem;
  --padding-l: 0.8rem;
  --padding-xl: 1rem;
  --padding-2xl: 1.2rem;
  --padding-3xl: 1.4rem;
}

@property --cAnimate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes borderAnimate {
  from {
    --cAnimate: 0deg;
  }
  to {
    --cAnimate: 360deg;
  }
}

@keyframes twinkle {
  0% {
    box-shadow: 0 0 0px #844376;
  }

  25% {
    box-shadow: 0 0 20px #844376;
  }

  50% {
    box-shadow: 0 0 30px #844376;
  }

  75% {
    box-shadow: 0 0 40px #844376;
  }

  100% {
    box-shadow: 0 0 50px #844376;
  }
}

@keyframes changePosition {
  0% {
    top: 0;
  }

  100% {
    top: -30%;
  }
}

@keyframes opacity {
    0% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
  color: white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  height: 400px;
  width: 350px;
  border-radius: var(--font-size-l);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: var(--font-size-l);
  padding: var(--font-size-l);
  transition: all 1s ease;
  box-shadow: 0 0 0px rgb(255, 0, 0);
  border: 5px solid rgba(244, 8, 8, 0);
  transform-style: preserve-3d;
  text-shadow: 0 0 0px #4c9eb7;
  animation-play-state: paused;
}

.card:hover {
  animation-play-state: running;
  background: linear-gradient(black) padding-box,
    conic-gradient(
        from var(--cAnimate),
        rgb(118, 70, 70),
        rgba(255, 0, 43, 0.549),
        #7f7085
      )
      border-box;

  color: #405161;
  box-shadow: 0 0 50px #68345d;
  text-shadow: 0 0 30px #7f7085;
  animation: borderAnimate 4s linear infinite,
    twinkle 2s ease-out infinite alternate, 
    opacity 3s ease-in-out alternate
    ;

  img {
    position: absolute;
    top: -30%;
    animation: changePosition 1s ease-in-out alternate;
  }

  h1 {
    position: fixed;
    bottom: 44%;
  }

  p {
    position: fixed;
    bottom: 25%;
  }
}

h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

img {
  height: 80%;
  width: 80%;
  object-fit: cover;
}

h1 {
  font-size: var(--font-size-3xl);
  transition: all 2s ease;
}

p {
  font-size: var(--font-size-xl);
  text-align: center;
  transition: all 2s ease;
}
