*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

:root{
    /* Font Sizes */

    --font-size-xs: 0.2rem;

    --font-size-s: 0.4rem;

    --font-size-m: 0.6rem;

    --font-size-l: 0.8rem;

    --font-size-xl: 1rem;

    --font-size-2xl: 1.2rem;

    --font-size-3xl: 1.4rem;

    --font-size-5xl: 1.8rem;


    /* padding */
    --padding-2xs: 0.1rem;
    --padding-xs: 0.2rem;
    --padding-s: 0.4rem;
    --padding-m: 0.6rem;
    --padding-l: 0.8rem;
    --padding-xl: 1rem;
    --padding-2xl: 1.2rem;
    --padding-3xl: 1.4rem;

}

@property --bgColorst{
    syntax: "<color>";
    initial-value: rgb(223, 74, 74);
    inherits: false;
}

@property --bgColornd{
    syntax: "<color>";
    initial-value: rgb(9, 9, 9);
    inherits: false;
}

@property --angleConic{
    syntax: "<angle>";
    initial-value: 30deg;
    inherits: false;
}



@keyframes rColor {

    from {
        background-color: var(--bgColorst);
        scale: 1;
        


    }
    to {
        background-color: var(--bgColornd) ;
        scale: 1.2;
    }
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
   height: 400px;
    width: 350px; 
    padding-inline: var(--padding-m);
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background:  linear-gradient(rgb(120, 114, 114)) content-box, 
    conic-gradient(from 60deg,rgb(223, 74, 74),rgb(9, 9, 9));
    box-shadow: inset 0 0 var(--font-size-5xl) red;

    animation: rColor 5s ;
    animation-iteration-count: infinite;
    
}
img{
    height: 300px;
    width: 300px;
}

h1{
    padding-left: var(--padding-xs);
    font-size: var(--font-size-3xl);
}

p{
    padding-left: var(--padding-2xs);
    font-size: var(--font-size-l);
    
}



