*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
} 

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(68, 66, 66);
   
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    anchor-name: --some-anchor;
}

 .card{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 1rem;
    cursor: pointer;
}

.card:hover{
    anchor-name: --some-anchor;
}

